@BLUE: hsv(192, 99%, 81%);
@LIGHT_BLUE: hsv(192, 49%, 91%);

@GREEN: hsv(162, 99%, 81%);
@LIGHT_GREEN: hsv(162, 49%, 91%);

@PURPLE: hsv(312, 99%, 81%);
@LIGHT_PURPLE: hsv(312, 49%, 91%);

@ORANGE: hsv(42, 99%, 81%);
@LIGHT_ORANGE: hsv(42, 49%, 91%);

@RED: hsv(342, 99%, 81%);
@LIME: hsv(72, 99%, 81%);

@COLOR_BACKGROUND: #1a2326;
@COLOR_BACKGROUND_ALT: lighten(@COLOR_BACKGROUND, 10%);
@COLOR_FOREGROUND: #fff;
@COLOR_FOREGROUND_ALT: darken(@COLOR_FOREGROUND, 20%);
@COLOR_INVISIBLE: lighten(@COLOR_BACKGROUND, 15%);
@COLOR_MUTED: lighten(@COLOR_BACKGROUND, 50%);
